{
"fleet 1": {"RC_PORT": "9001", "RC_IP": "10.42.0.254"}, 
"fleet 2": {"RC_PORT": "9001", "RC_IP": "10.42.0.254"}, 
"49er"   : {"RC_PORT": "9001", "RC_IP": "10.42.0.254"}, 
"FX"     : {"RC_PORT": "9001", "RC_IP": "10.42.0.254"}
}
